<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXURIOUS SIN</title>
    <script type="text/javascript" src="funcoes.js"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='coment.css'>
  
</head>


<body link="black" alink="black" vlink="black">

    <header>
        <div class="logo"></div>
        <ul>
            <li> <a href="../home/index.html"> HOME </a> </li>
            <li> <a href="../sobre/suporte.html"> SOBRE </a> </li>
            <li> <a href="../avaliação/feedback.html"> AVALIAÇÃO </a> </li>
            <li> <a href="">LOGOUT </a> </li>
            
            
        </ul>
    </header>

    <section id="nome">
        <h2> AVALIAÇÃO</h2>
    </section>

<div id="center">

</div>

<input type="submit" id="enviar" name="enviar" value="ENVIAR" /> 
<button> <a href="" style="text-decoration:none;"> VOLTAR </a> </button>

    </body>
</html>