<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXURIOUS SIN</title>
    <link rel='stylesheet' type='text/css' media='screen' href='suporte.css'>

</head>

<body link="black" alink="black" vlink="black">

    <header>
        <div class="logo"></div>
        <ul>
            <li> <a href="../home/index.html"> HOME </a> </li>
            <li> <a href="../sobre/suporte.html"> SOBRE </a> </li>
            <li> <a href="../avaliação/feedback.html"> AVALIAÇÃO </a> </li>
            <li> <a href="controller/UsuarioController.php?logout=true"> LOGOUT </a> </li>
            
        </ul>
    </header>
    
    <div id="center">

        <section id="nome">
            <h2> SOBRE & CONTATO </h2>
        </section>
       

        <label> Nome Completo: <font color="red">*</font></label>
        <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required/>
        <br/><br/>

        <label> Digite seu e-mail: <font color="red">*</font></label>
        <input type="email" id="e-mail" name="e-mail"  placeholder="Digite seu E-mail" required />
        <br/><br/>

        <label>Deixe seu Telefone: <font color="red">*</font></label>
        <input type="tel" id="telefone" name="telefone"  placeholder="Digite seu Telefone" />
        <br/><br/>

        <label> Deixe um comentário: <font color="red">*</font></label><br/><br/><br/>
        <textarea id="coment" maxlength="240" placeholder="Máximo 240 caracteres" required></textarea>
        <br/><br/>

       

        </section>

                 <input type="submit" id="enviar" name="enviar" value="ENVIAR" /> 
                 <button> <a href="../home/index.html" style="text-decoration:none;"> VOLTAR </a> </button>

                 <br><br>

                <section class="row" id="sup">
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                      </svg> E-mail:adm@lux.com
                    <id="logoredes"><ion-icon name="logo-instagram"></ion-icon>@luxuriossinadm
                    <id="logoredes"><ion-icon name="logo-facebook"></ion-icon>Luxurios Sin
                    <id="logoredes"><ion-icon name="logo-twitter"></ion-icon>LSS</p>
                </section>

    </div>

</body>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"> </script>

</html>