<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Cadastrar Usuário </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="estilo2.css" />
</head>
<body link="#000" alink="#000" vlink="#000">
    
    <h2> CADASTRAR USUÁRIO </h2>

    <fieldset >
        <div id="logo"></div>
            <form action="../../controller/UsuarioController.php" method="post" name="cad">
                <label> Nome: </label>
                <input type="text" id="nome" name="nome" required />
                <br/> <br/>
                <label> CPF: </label>
                <input type="text" id="cpf" name="cpf" class="cpf" required />
                <br/> <br/>
                <label> E-mail: </label>
                <input type="email" id="mail" name="mail" required />
                <br/> <br/>
                <label> Telefone: </label>
                <input type="tel" id="telefone" name="telefone" required />
                <br/> <br/>
                <label> Senha: </label>
                <input type="password" id="senha" name="senha" required />
                <br/> <br/>
                <label>Sexo: </label>
                <select id="sexo" name="sexo">
                    <option value="" selected="selected">--Selecione--</option>
                    <option value="M"> Masculino </option>
                    <option value="F"> Feminino </option>
                    <option value="O"> Outro </option>
                </select>
                <br/> <br/>
                <input type="submit" id="cadastrar" name="cadastrar" value="Cadastrar" />
                <button> <a href="../../" style="text-decoration:none;"> VOLTAR </a> </button>
          
            </form>
    </fieldset>

</body>
</html>