<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title> Cadastrar Produto </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script type="text/javascript">
   	
        var mostrarImg = function(event) {
            var ler = new FileReader();
            ler.onload = function(){
                var mostrar = document.getElementById('mostrar');
                mostrar.src = ler.result;
            }
        ler.readAsDataURL(event.target.files[0]);
        }
        
    </script>
 
    <style type="text/css">
        
         #mostrar {
             width: 140px;
             height: 120px;
             margin: 10px;
             border: 1px dashed #CCC;
         }
 
    </style>
</head>
<body>
    
    <h2> Cadastrar Produto </h2>

    <fieldset style="border:3px solid #098; width:600px;">
        <legend style="font-weight: bolder; font-size: 18px;"> Informe os dados do produto </legend>
            <form action="../../controller/ProdutoController.php" method="post" enctype="multipart/form-data" name="cad">
                <label> Nome: </label>
                <input type="text" id="nome" name="nome" required />
                <br/> <br/>
                <label> Preço: </label>
                <input type="text" id="valor" name="valor" required />
                <br/> <br/>
                <label> Marca: </label>
                <input type="text" id="marca" name="marca" required />
                <br/> <br/>
                <label> Imagem: </label> <br/>
                <img id="mostrar" alt=""> <br/>
                <input type="file" name="img" id="img" required onchange="mostrarImg(event)">
                <br/> <br/>
                <input type="submit" id="cadastrar" name="cadastrar" value="Cadastrar" />
                <button> <a href="../../" style="text-decoration:none;"> VOLTAR </a> </button>
        </form>
    </fieldset>

</body>
</html>